@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Poppins;
  overflow-x: hidden;

}
